.header {
	background: white;
	height: 60px;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}
.header-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 18px;
	@media (max-width: 1024px) {
		margin: 0 60px;
	}
	@media (max-width: 768px) {
		margin: 0 32px;
	}
	@media (max-width: 360px) {
		margin: 0 16px;
	}
}
.header_left-side {
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-first {
	margin-right: 10px;
}
